@import url('https://fonts.googleapis.com/css2?family=Open+Sauce+One&display=swap');

*{
    font-family: 'Open Sauce One', sans-serif;
    user-select: none;
}

:root{
    --background-color: #203141;
    --text-color: #ffbc0c;
    --background-color-deap: #142231;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding-bottom: 60px;
    
}





.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-deap);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid;
    border-top-color: rgb(40, 216, 247);
}

.nav-item {
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3px;
    min-width: 150px;
    border-radius: 10px;
    color: white;
}
.nav-item:hover{
    .bottom-names{
        color: rgb(40, 216, 247);
        transition: 0.3s ease-in-out;
    }
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

.nav-item.active {
    color: #ffffff;
    font-weight: bold;
}

.nav-item:hover {
    color: #bbb;
}
.bottom-logos{
    width: 25px;
    user-select: none;
}
.bottom-names{
    font-size: 10px;
    user-select: none;
    font-weight: 600;
}

footer {
    background: var(--background-color);
    color: #ffffff;
    /* padding: 5px; */
    text-align: center;
    font-size: 16px;
}


@media (max-width:700px) {
    .bottom-logos{
        width: 20px;
    }
    .bottom-names{
        font-size: 10px;
        font-weight: 600;
    }
    .nav-item{
        min-width: fit-content;
    }
}









#warningMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    height: 100vh;
}
.notice{
    background-color: var(--background-color-deap);
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 10px;
}
strong{
    color: #ffbc0c;
}
#countdown{
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
}
.hidden{
    display: none;
}

.fileLinksContainer{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    /* padding-bottom: 60px; */
}
.link-container{
    background-color: var(--background-color-deap);
    text-align: center;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    text-transform: capitalize;
}
.link-container:hover{
    background-color: #142231;
}

@media (max-width: 1024px) {
    .fileLinksContainer {
        grid-template-columns: repeat(2, 1fr);
        /* padding-bottom: 60px; */
    }
}

@media (max-width: 768px) {
    .fileLinksContainer {
        grid-template-columns: repeat(1, 1fr);
        /* padding-bottom: 30px; */
    }
    .subMain{
        padding: 10px;
    }
}